<div id='LogInTemplate'>
	<form>
		<h1><span><%= lang.logintitle %></span></h1>
		<input name='email' placeholder='<%= lang.logininputuserplaceholder %>' type='email' autocomplete='on'>
		<input name='password' placeholder='<%= lang.logininputpasswordplaceholder %>' type='password'>
		<a href='#' id='Cancel'><%= lang.logincancel %></a>
		<button id='loginObservid'>
			<%= lang.loginbutton %>
		</button>
		<button id='loginFacebook'>Conectate vía Facebook<i></i></button>		
	</form>
	<!--<fb:login-button show-faces="true" width="200" max-rows="1"></fb:login-button>-->
	
	
</div>
